*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height:100vh;
}
.top{
    width: 100%;
    min-height: 60vh;
    background-image: url(mountain.jpg);
    /* background-color:cadetblue; */
    background-size: cover;
    background-position: center;
}
.top .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.322);
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10vh;
    color: white;
    bottom: 5%;
}
.text h1{
    font-weight: 600;
    font-size: 4vw;
}
.text .image{
    background-image: url(road.jpg);
    /* background-color: bisque; */
    background-size: cover;
    background-position: center;
    height: 300px;
    width:220px; 
}
.rtext{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}
.rtext p{
    font-size: 12px;
}
.bottom{
    display: flex;
    width: 100%;
    min-height: 40vh;
}
.m1{
    width: 30%;
    min-height: inherit;
    background-image: url(portrait.jpg);
    background-size: cover;
    background-position: center;
    background-color: red;
}
.m1 h1{
    text-align: center;
    padding: 30px;
}
.m1 p{
    color: rgb(17, 3, 3);
    text-align: center;
    padding: 15px;
}
.m2{
    width: 30%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}
.m2 .up{
    width: 100%;
    background-image: url(croad.jpg);
    background-size: cover;
    background-position: center;
    
}
.m2 .up h1{
    text-align: center;
    padding: 30px;
}
.m2 .up p{
    color: rgba(247, 242, 247, 0.89);
    text-align: center;
    padding: 15px;
}
.m2 .down{
    width: 100%;
    min-height: 20vh;
    background-image: url(country.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: green; */
}
.m2 .down .overlay{
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(255, 255, 255, 0.267);
}
.m3{
    width: 40%;
    min-height: inherit;
    background-image: url(rain.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: aquamarine; */
}
.m3 .overlay{
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width:50%;
    height: 100%;
    padding: 4vw 3vh;
}
.m3 .overlay p{
    padding: 1.2vh;
}

@media(max-width:700px)
{
    .rtext{
        flex-direction: column;
    }
    .m3 .overlay{
        width: 100%;
        margin-left: initial;
    }

}


@media(max-width:500px){
    .text{
        flex-direction: column;
        align-items: flex-start;
    }
    .text h1{
        font-size: 5vh;
    }
    .text .image{
        height: 200px;
        width: 140px;
        margin-top: 20px;
    }
    .rtext{
        flex-direction: column;
        align-items: flex-start;
    }
    .rtext p{
        margin-top: 10px;
    }
    .icons{
        margin-top: 10px;
    }
    .bottom{
        flex-direction: column;
        align-items: flex-start;
    }
    .m1{
        width: 100%;
        min-height: 30vh;
    }
    .m2{
        width: 100%;
    }
    .m2 up{
        min-height: 30vh;
    }
    .m3{
        width: 100%;
        min-height: 30vh;
        background-position: left;
    }
}

